* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #ED974C;
	font-family: 'Montserrat', sans-serif;
}

#root {
	margin-top: 40px;
}

form {
	text-align: center;
}

label {
	margin-right: 25px;
}

input {
	height: 23px;
}

.users {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.user {
	width: 120px;
	height: 120px;
	margin-top: 50px;
	position: relative;
}

a {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 120%;
	transform: translateY(-50%);
}

a:hover {
	text-decoration: underline;
}